@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App Ist</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/shop-item.css" rel="stylesheet" />

 

</head>
<body style="background-color:whitesmoke">
    <div class="container" style="margin-top:100px">  </div>
    <section class="page-section" id="services">
        <div class="container">
            <div class="text" >
                <h1  style="margin-bottom:60px;font-size:50px">İLETİŞİM</h1>
               
            </div>
            <div class="text">
                <h3 class="section-subheading text-muted" style="margin-bottom:10px;font-size:26px" >Email   : rabiasatilmiis@gmail.com</h3>
                <h3 class="section-subheading text-muted" style="margin-bottom:10px;font-size:26px">Telefon : 05555555555</h3>
                <h3 class="section-subheading text-muted" style="margin-bottom:10px;font-size:26px">Adres   : Ataşehir-İSTANBUL</h3>
            </div>
            
        </div>
    </section>

</body>

</html>

