<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>App Ist</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/shop-item.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap1.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="~/css/clean-blog.min.css" rel="stylesheet" />

</head>
<body style="background-color:whitesmoke">
    <!-- Page Header -->
    <header class="masthead" style="background-image:url('https://3.bp.blogspot.com/-R2mPIjpzO60/V_dUmYrd7JI/AAAAAAAAABU/5rVrgfYIsUg-o4711UrFdh4cfvxTctsYwCEw/s1600/ist2.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1 style="font-family:Batang;color:floralwhite;font-size:80px">İ&ensp;S&ensp;T&ensp;A&ensp;N&ensp;B&ensp;U&ensp;L</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="post-preview" style="width:900px">
                    <h2 class="post-title" style="font-weight:800;margin-bottom:20px;font-size:45px;font-family:'Calibri';font-style:oblique">
                        İstanbul'un Tarihi
                    </h2>
                    <h3 class="post-subtitle" style="font-weight:500;font-family:'Calibri';font-style:oblique;font-size:20px;text-align:justify">
                        Kadim İstanbul, hem tarihi, hem de modern bir şehirdir.
                        Yenikapı Theodosius Limanı kazılarıyla gün ışığına çıkarılan Neolitik Çağ yerleşimiyle, kentin tarihinin, 8500 yıl geriye uzandığı anlaşılmıştır.
                        Böylelikle, İstanbul’un geçirdiği kültürel, sanatsal, jeolojik değişim ve kent arkeolojisi hakkında yeni bir dönem açılmıştır.
                        Yunanlılar, bugün İstanbul’un üzerinde yer aldığı coğrafya üzerinde, M.Ö. 700’de Bizantium şehrini kurmuştur.
                        Bu şehir, Konstantinapolis adıyla Roma ve Doğu Roma İmparatorluklarının başkenti olmuştur.
                        Osmanlı İmparatorluğu’nun 1453’te kenti fethetmesinin ardından, şehir, yaklaşık beş asır boyunca Osmanlı İmparatorluğu’na başkentlik yapmış ve
                        Türkler tarafından “İstanbul” olarak anılmaya başlanmıştır. Bugün, İstanbul, artık başkent olmasa da, hızla gelişen ülkenin en büyük şehridir.
                        Boğaz çevresindeki konumu, İstanbul’u, Asya ve Avrupa arasında bir köprü yapmaktadır.
                        Boğaziçi ve Haliç ile kent yerleşimini şekillendiren topoğrafyası, şehrin en önemli sembollerinden biri olan siluetini tanımlar.
                        İstanbul’un tarihi ve dolayısıyla kültürü, mimarisinde görülebilir. Şehrin mimarisi Batı ile Doğu’yu bir araya getirmektedir.
                        Şehirde Hipodrom, Yerebatan Sarnıcı ve Çemberlitaş gibi Roma Dönemi kalıntıları ve ayrıca Cenevizliler tarafından miras bırakılan Galata Kulesi yer almaktadır.
                        Öte yandan şehri tanımlayan, Bizans ve Osmanlı yapılarıdır.
                        Bizans yapıları arasında en önde geleni, yaklaşık 1500 yıl boyunca dünyanın en önemli anıtı olarak ayakta duran Ayasofya’dır.
                        Günümüzde Ayasofya, müze olarak ziyarete açıktır.
                        <br /> <br />
                        Osmanlı yapıları arasında ise asırlar boyunca Osmanlı sultanlarının meskeni ve yönetim merkezi olarak kullanılan Topkapı Sarayı, Sultanahmet Camii,
                        Süleymaniye Camii, günümüze de ulaşmış ticaret geleneğinin yaşatıldığı Kapalıçarşı ve Mısır Çarşısı; kentin kültürünü ve kimliğini tanımlayan anıtlardır.
                        İstanbul’un kültürel miras alanlarının uluslararası önemi, UNESCO Dünya Miras Listesi’nde “İstanbul’un Tarihi Alanları” başlığı içerisinde kendilerine yer verilerek tanınmıştır.
                        İstanbul aynı zamanda modern bir şehirdir. Türkiye’nin kırsal bölgelerinden İstanbul’a yönelen iç göç ile şehrin nüfusu son yıllarda ciddi şekilde artmıştır.
                        Bugün İstanbul, Türkiye’nin toplam nüfusunun yüzde 20’sine ev sahipliği yapmakta, GSYH’nin yüzde 22’sini ve vergi gelirlerinin yüzde 40’ını üretmektedir.
                        Türkiye’nin yaratıcı ve kültürel endüstrilerinin merkezlerinin neredeyse tamamı, İstanbul’da bulunmaktadır.
                        Türkiye’de gerçekleştirilen müze ziyaretlerinin yaklaşık olarak yarısı (yüzde 49), kültürel performansların ise yüzde 30’u İstanbul’da hayata geçirilmektedir.
                        İstanbul’un çağdaş kültürü de gittikçe daha çok ilgi çekmektedir. 2010 yılında Avrupa Kültür Başkenti olan İstanbul’un güçlü yönleri “artan refahı,
                        Türkiye’nin kültürel ve turistik lideri ve öncüsü olarak konumu, sanat ve kültüre karşı artan ilgi ve hepsinden önemlisi genç ve dinamik nüfusudur”.
                        İstanbul, söz konusu enerjisi ve dinamizmiyle diğer dünya şehirleriyle hızlı bir şekilde bütünleşirken şehrin politika yapıcıları da İstanbul’u “küresel bir şehir” olarak konumlandırmaktadır.
                        <br /> <br /><br />
                    </h3>
                    <p class="post-meta">
                        Kaynak :
                        <a href="https://istanbul.ktb.gov.tr/TR-165064/genel-bilgiler.html">www.istanbul.ktb.gov.tr</a>
                    </p>
                </div>
                <hr> 
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/js/jquery1.min.js"></script>
    <script src="~/js/bootstrap1.bundle.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/js/clean-blog.min.js"></script>
</body>
</html>
