<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/shop-item.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/css/bootstrap1.min.css" rel="stylesheet" />
<!-- Custom fonts for this template -->
<link href="~/css/all.min.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- Custom styles for this template -->
<link href="~/css/clean-blog.min.css" rel="stylesheet" />

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4"
        style="background-color:whitesmoke;margin-top:500px">
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a asp-controller="Home" asp-action="Index"> www.appist.com</a>
    </div>
</footer>
