@model IEnumerable<Place>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/shop-item.css" rel="stylesheet" />
</head>
<body style="background-color:whitesmoke">
    <div class="container">
        <div class="row" style="margin-top:50px">
            <div class="col-md-0"></div>
            <div class="col-md-12">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    @foreach (var place in Model)
                    {
                        if (place.CategoryId == 1)
                        {
                            <div class="col">
                                <div class="card shadow-sm" style="background-color:aliceblue">
                                    <img class="card-img-top img-fluid" style="height:300px;object-fit:cover;" src="~/img/@place.Image" alt="@place.Name">
                                    <div class="card-body text-center" style="margin-bottom:10px">
                                        <p class="card-text"><h3 style="font-weight:bold"> @place.Name  </h3> </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group center-block">
                                                <a asp-controller="Place"
                                                   asp-action="Trip"
                                                   asp-route-id="@place.Id"
                                                   class="btn btn-primary"
                                                   style="padding:5px 8px 5px 8px;font-family:Calibri;background-color:dodgerblue">
                                                    Detaylar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div> <hr />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>


